
{% include 'EcommerceBundle:Default:/index.html.twig' %}


<div class="about">
 <div class="container">
  <div class="singel_right">
			     <div class="col-md-8">
				      <div class="contact-form">
				  	        <form method="post" action="{{ path('verificationdemande') }}">
					    	    <p class="comment-form-author"><label for="author">Subject:</label>
					    	    	<input type="text" name="Subject" class="textbox" value="Enter your name here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your name here...';}">
						    	</p>
						        <p class="comment-form-author"><label for="author">Email:</label>
						     	   <input type="text" name="email" class="textbox" value="Enter your email here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
						        </p>
						        <p class="comment-form-author"><label for="author">Message:</label>
						    	  <textarea value="Enter your message here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}" name="message">Enter your message here...</textarea>
						        </p>
						        <input name="submit" type="submit" id="submit" value="Submit">
					        </form>
				       </div>
			     </div>
			     <div class="col-md-4 contact_right">
					<h3>Address</h3>
				    <div class="address">
						<i class="pin_icon"></i>
					    <div class="contact_address">
						 {{ adresse }}
					    </div>
					    <div class="clearfix"></div>
					</div>
					<div class="address">
						<i class="phone"></i>
					    <div class="contact_address">
						   {{ telephone }}
					    </div>
					    <div class="clearfix"></div>
					</div>
					<div class="address">
						<i class="mail"></i>
					    <div class="contact_email">
						  <a href="malito:{{ email }}">{{ email }}</a>
					    </div>
					    <div class="clearfix"></div>
					</div>
		        </div>
		        <div class="clearfix"></div>
		</div>
		<div class="map">
          
        </div>
     </div>
</div>
<div class="footer_bg">
</div>
<div class="footer">
  <div class="container">
    <div class="col-md-3 f_grid1">
      <h3>About</h3>
      <a href="#"><img src="{{ asset('images/logo-2.png')}}" alt=""/></a>
      
    </div>
    <div class="col-md-3 f_grid1 f_grid2">
      <h3>Follow Us</h3>
      <ul class="social">
        <li><a href=""> <i class="fb"> </i><p class="m_3">Facebook</p><div class="clearfix"> </div></a></li>
          <li><a href=""><i class="tw"> </i><p class="m_3">Twittter</p><div class="clearfix"> </div></a></li>
        <li><a href=""><i class="google"> </i><p class="m_3">Google</p><div class="clearfix"> </div></a></li>
        <li><a href=""><i class="instagram"> </i><p class="m_3">Instagram</p><div class="clearfix"> </div></a></li>
      </ul>
    </div>
    <div class="col-md-3 f_grid1 f_grid2">
      <h3>Contact Info</h3>
      <ul class="list">
        <li><p>Phone : {{ telephone }}</p></li>
        <li><p>Fax : {{ adresse }}</p></li>
        <li><p>Email : <a href="mailto:{{ email }}">{{ email }}</a></p></li>
      </ul>
      <ul class="list1">
        <li></li>
      </ul>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="footer_bottom">
        <div class="container">
          <div class="cssmenu">
      
      </div>
      <div class="copy">
          <p> 2017 Creer par <a href="" target="_blank">Hibatou Allah & Laila </a></p>
        </div>
        <div class="clearfix"> </div>
        </div>
</div>
